parameters:
    checkMissingIterableValueType: false
    scanFiles:
        - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
        - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php
    ignoreErrors:
        - '#Access to an undefined property yii\\console\\Request|yii\\web\\Request::\$isSiteRequest.#'
